h3 {
  font-size: 40px;
}

a {
  font-size: 22px;
}

#group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
}

#html4 {
  border-right: 3px solid black;
  padding-right: 100px;
}